<div>
	<h1>
		<a href="/Details/Index">
			<i class="bi bi-arrow-left me-3"></i>
		</a>
		Create New Title
	</h1>
</div>
<form action="/Details/Create" method="post">

	
	<div class="my-3">
		<input type="text" class="form-control" font-size: 25px; name="title" placeholder="Title" />
	</div>
	<div class="my-3">
		<input type="text" class="form-control" font-size: 25px;" name="description" placeholder="Description" />
	</div>
	<div class="my-3">
		<input type="datetime-local" class="form-control" font-size: 25px;" name="date" placeholder="Date" />

	</div>

	<button style="width:200px" type="submit" class="btn btn-outline-warning"><h3>Create</h3></button>

</form>
