<h1>
	<b>
		<a href="/Home/Index">
			<i class="bi bi-arrow-left me-3"></i>
		</a>
		Plaese Enter Your Name
	</b>
</h1>
<br />

<form action="/Details/Index">
	<div class="mb-3">
		<input type="text" style="width: 100%; padding: 10px; font-size: 25px;" placeholder="Your Name"
		name="name"/>
	</div>
	
	<button style="width:200px" type="submit" class="btn btn-success"><h3>Save</h3></button>

</form>
